:root{
    --paynes-gray: #555b6eff;
    --cambridge-blue: #89b0aeff;
    --mint-green: #bee3dbff;
    --seasalt: #faf9f9ff;
    --apricot: #ffd6baff;

    --black: #0a0908ff;
    --gunmetal: #22333bff;
    --almond: #eae0d5ff;
    --khaki: #c6ac8fff;
    --walnut-brown: #5e503fff;

    --magnolia: #f4effaff;
    --russian-violet: #2f184bff;
    --tekhelet: #532b88ff;
    --amethyst: #9b72cfff;
    --wisteria: #c8b1e4ff;

    --pale-azure: #97dffcff;
    --tropical-indigo: #858ae3ff;
    --iris: #613dc1ff;
    --indigo: #4e148cff;
    --russian-violet: #2c0735ff;

    /* GPT style */
    --g-violet: #D292FF;
    --g-dark-blue: #00002E;
    --g-light-blue: #3C46FF;
    --g-light-blue-hovered: #0000FF;
    --g-dark-red:  #170005;

    --star-yellow: #FBBF24;
}
a:hover, button:hover{
  cursor: pointer;
}

.title-text-shadow:hover{
  text-shadow: 0px 0px 35px #FBBF24;
  transition: text-shadow 0.15s ease-in-out;
}
.title-text-shadow{
  text-shadow: none;
  transition: text-shadow 0.25s ease-in-out;
}


.radient-background{
    background: linear-gradient(225deg, var(--g-dark-red), var(--g-dark-blue));
    height: 100%;
    width: 100%;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-out;
}
  
  .candle-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
  
  .candle {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .candle-flame {
    width: 15px;
    height: 30px;
    background: #ffad00;
    border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
    box-shadow: 0px 0px 20px 0px #ffad00;
    -webkit-animation: flame-twirl 15s ease infinite, glow 2s ease infinite;
            animation: flame-twirl 15s ease infinite, glow 2s ease infinite;
  }
  .candle-wick {
    height: 10px;
    width: 3px;
    background: #ad87a9;
  }
  .candle-wax {
    width: 40px;
    height: 110px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: inset -15px 0px 0px -10px #d8deed;
  }
  .candle-stand {
    width: 100px;
    height: 8px;
    background: #1c233e;
    border-radius: 3px;
  }
  
  @-webkit-keyframes flame-twirl {
    0%, 22%, 49%, 62%, 81%, 100% {
      border-radius: 2px 14px 8px 8px/20px 20px 8px 8px;
    }
    14%, 32%, 56%, 70%, 89% {
      border-radius: 14px 2px 8px 8px/20px 20px 8px 8px;
    }
  }
  
  @keyframes flame-twirl {
    0%, 22%, 49%, 62%, 81%, 100% {
      border-radius: 2px 14px 8px 8px/20px 20px 8px 8px;
    }
    14%, 32%, 56%, 70%, 89% {
      border-radius: 14px 2px 8px 8px/20px 20px 8px 8px;
    }
  }
  @-webkit-keyframes glow {
    0%, 30%, 60%, 80%, 100% {
      box-shadow: 0 0 20px 0 #ffad00;
    }
    20%, 50%, 70% {
      box-shadow: 0 0 22px 0 #ffad00;
    }
  }
  @keyframes glow {
    0%, 30%, 60%, 80%, 100% {
      box-shadow: 0 0 20px 0 #ffad00;
    }
    20%, 50%, 70% {
      box-shadow: 0 0 22px 0 #ffad00;
    }
  }

.summarize-modal{
  background: #000000a6;
  backdrop-filter: blur(1px);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

navbar{
  position: absolute;
  top: 0;
  width: 100%;
}
contenu{
  height: 100vh;
  padding-top: 4rem;
}

/* cursor */
.cursor-follower {
  position: fixed; /* Ensures it's positioned relative to the viewport */
  top: 0;
  left: 0;
  width: 100%; /* These dimensions ensure it covers the entire viewport */
  height: 100%;
  pointer-events: none; /* Prevents it from interfering with mouse events */
  z-index: 9999; /* A high value to ensure it's on top of other elements */
  transition: background 0.2s; /* Optional: Smooth transition for the gradient movement */
}

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
  /* width: 40px; */
  /* aspect-ratio: 1; */
  position: relative;
}
.loader-chat {
  width: 30px; 
  aspect-ratio: 1; 
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: #FBBF24;
  z-index: 1;
  animation:
    l2-1 2s  infinite,
    l2-2 1s infinite ;
}
.loader:after {
  background:#FBBF24;
  animation-delay: -1s,0s;
}
@keyframes l2-1 {
  0%   {top:0   ;left:0}
  25%  {top:100%;left:0}
  50%  {top:100%;left:100%}
  75%  {top:0   ;left:100%}
  100% {top:0   ;left:0}
}
@keyframes l2-2 {
   40%,50% {transform: rotate(0.25turn) scale(0.5)}
   100%    {transform: rotate(0.5turn) scale(1)}
}