{% extends 'base.html.twig' %}

{% block title %}Hello StripeController!{% endblock %}

{% block body %}

<form action="/create-checkout-session" method="POST">
    <button type="submit">Checkout</button>
</form>
{% endblock %}
