{% extends 'base.html.twig' %}

{% block title %}Hello StripeController!{% endblock %}

{% block body %}
<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center min-h-screen  ">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Devennez membre premium et aventurez vous dans le monde du jeu de rôle assisté par IA
      </h2>

      <p class="hidden text-gray-500 md:mt-4 md:block">
        En tant que membre premium, vous aurez accès à toutes les fonctionnalités de notre plateforme.
      </p>
      <div class="flex justify-center">
        <ul class="flex flex-col items-start ">
            <li>✅ Nouvelle parties illimitées</li>
            <li>✅ Echanges illimités</li>
            <li>✅ Assistance premium</li>
            <li>✅ Génération d'images (beta!)</li>
        </ul>
      </div>

      <div class="mt-4 md:mt-8">
        <a href="{{ path('app_stripe_create-checkout-session') }}" class="relative inline-block px-4 py-2 font-medium group">
            <span class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"></span>
            <span class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"></span>
            <span class="relative text-black group-hover:text-white">Devenir membre premium pour 20$</span>
        </a>
      </div>
    </div>
  </div>

    <div class="bg-white dark:bg-gray-900 h-full w-full flex items-center justify-center" >
        <div class="candle">
            <div class="candle-flame"></div>
            <div class="candle-wick"></div>
            <div class="candle-wax"></div>
            <div class="candle-stand"></div>
        </div>
    </div>  
</section>

{% endblock %}
