<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>✨</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}    
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
        {% include "base/_navbar.html.twig"%}
        <div class="cursor-follower"></div>

        <section class="pt-16 min-h-screen radient-background">
        {% block body %}{% endblock %}
        </section>
    </body>
    {{ encore_entry_script_tags('app') }}
    <script>
        // ANIMATION CURSOR FOLLOWER  
        document.addEventListener('mousemove', function(event) {
        const cursorFollower = document.querySelector('.cursor-follower');
        if (cursorFollower) {
            // Calculate the position for the gradient to follow the cursor
            const x = event.clientX;
            const y = event.clientY;
            // Update the gradient to create a small circle around the cursor
            cursorFollower.style.background = `radial-gradient(600px at ${x}px ${y}px, #fbbe2415, transparent`;
            cursorFollower.classList.remove('hidden');
            }

        });

        document.addEventListener('mouseleave', function() {
        const cursorFollower = document.querySelector('.cursor-follower');
        if (cursorFollower) {
            cursorFollower.classList.add('hidden');
        }
        });
    </script>
</html>
